  $font-stack: Georgia, serif;
  $primary-color: #034;
  $secondary-color: white;

  html {
    margin: 0;
    font: $font-stack $primary-color;
    scroll-behavior: smooth;
    .resume, .projects, .home, .education, .about {
        justify-content: center;
        align-items: center;
        height: 750px;
        width: 100%;
        padding: 120px;
        display: flex;
        border: 1px solid black;
    }
  }
  
  .App {
    padding: 20px 60px 20px 60px;
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    img {
        height: 75px;
        width: auto;
    }
  }

  .bio {
      width: 300px;
  }
  
  .footer {
    border-top: 1px solid grey;
    background-color: $primary-color;
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
    p {
      color: $secondary-color;
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }

  .home {
    .bio {
        display: flex;
        justify-content: center;
        height: 40%;
        margin: 25px;
        border-radius: 50%;
        border: 8px solid $primary-color;
        position: absolute;
        .profilePic {
            object-fit: cover;
            object-position: 100% 0%;
            border-radius: 50%;
            height: 100%;
            width: 100%;
            transition: transform 500ms ease-in-out;
        }
        .insideQualities {
            position: relative;
            left: 150px;
            top: 85px;
            flex-direction: column;
            align-items: center;
            width: 100%;
            transition: transform 500ms ease-in-out;
        }
        .qualities {
            width: 50px;
            height: 50px;
            transition: transform 5000ms ease-in-out;
        }
    }
    .gridContainer {
        padding-right: 450px;
        padding-top: 30px;
        position: relative;
        right: 300px;
        .tile {
            padding: 10px;
            margin: 15px;
            width: 400%;
            height: 150px;
        }
    }
  }

  .transform {
    transform: translate(150px, 0px);
  }

  .transform2 {
    transform: translate(-250px, 0px);    
  }