  $font-stack: Georgia, serif;
  $primary-color: #005;

  html {
    margin: 0;
    font: $font-stack;
    scroll-behavior: smooth;
    .resume, .projects, .home, .education, .about {
        height: 500px;
        width: 100%;
        padding: 50px;
        display: flex;
    }
  }
  
  .App {
    padding: 20px 60px 20px 60px;
    background-color: rgb(221, 218, 218);
    img {
        height: 75px;
        width: auto;
    }
  }

  .bio {
      width: 300px;
  }
  
  .footer {
    border-top: 1px solid grey;
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
    p {
      color: $primary-color;
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }

  .home {
    .bio {
        margin: 25px;
        .profilePic {
            object-fit: cover;
            object-position: 100% 0%;
            border-radius: 50%;
            height: 75%;
            width: 100%;
            padding: 10%;
        }
        .cardContent {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-family: $font-stack;
        }
    }
    .webContent {
        margin: 25px;
    }
  }